# Análisis de datos con Pandas
1]. Importe la biblioteca Pandas.

2].Cree un DataFrame con los siguientes datos:
- Nombres: Ana, Luis, Marta, Pedro, Carla
- Edad: 23, 34, 22, 43, 26
- Ciudad: Bogotá, Medellín, Cali, Bogotá, Medellín
  
4].Muestre las primeras 3 filas del DataFrame.

5].Muestre las estadísticas descriptivas del DataFrame.

6].Filtre el DataFrame para obtener solo los registros de personas mayores de 30 años.

7].Agregue una columna 'Género' con valores: F, M, F, M, F.

8].Guarde el DataFrame en un archivo CSV.

### 1. Importar la biblioteca Pandas
Primero, se importar Pandas, la biblioteca fundamental para el análisis de datos en Python.

In [22]:
import pandas as pd

### 2. Crear un DataFrame
se crea un DataFrame con información de 5 personas: sus nombres, edades y ciudades.

In [23]:
# Se crea un diccionario con los datos
datos = {
    'Nombres': ['Ana', 'Luis', 'Marta', 'Pedro', 'Carla'],
    'Edad': [23, 34, 22, 43, 26],
    'Ciudad': ['Bogotá', 'Medellín', 'Cali', 'Bogotá', 'Medellín']
}

# Conversion del diccionario en un DataFrame
df = pd.DataFrame(datos)

# DataFrame 
df

  Nombres  Edad    Ciudad
0     Ana    23    Bogotá
1    Luis    34  Medellín
2   Marta    22      Cali
3   Pedro    43    Bogotá
4   Carla    26  Medellín

### 3. Mostrar las primeras 3 filas del DataFrame

In [24]:
# Método head() para ver las primeras filas
primeras_filas = df.head(3)
primeras_filas

  Nombres  Edad    Ciudad
0     Ana    23    Bogotá
1    Luis    34  Medellín
2   Marta    22      Cali

### 4. Mostrar estadísticas descriptivas del DataFrame

In [25]:
# El método describe() nos da estadísticas básicas
estadisticas = df.describe()
estadisticas

            Edad
count   5.000000
mean   29.600000
std     8.848729
min    22.000000
25%    23.000000
50%    26.000000
75%    34.000000
max    43.000000

### 5. Filtrar personas mayores de 30 años

In [26]:
# Filtrado usando una condición booleana
mayores_30 = df[df['Edad'] > 30]
mayores_30

  Nombres  Edad    Ciudad
1    Luis    34  Medellín
3   Pedro    43    Bogotá

### 6. Agregar una columna 'Género'

In [27]:
# Una nueva columna al DataFrame
df['Género'] = ['F', 'M', 'F', 'M', 'F']

# DataFrame con la nueva columna
df

  Nombres  Edad    Ciudad Género
0     Ana    23    Bogotá      F
1    Luis    34  Medellín      M
2   Marta    22      Cali      F
3   Pedro    43    Bogotá      M
4   Carla    26  Medellín      F

### 7. Guardar el DataFrame en un archivo CSV

In [28]:
# Se guarda  el DataFrame en un archivo llamado 'personas.csv'
df.to_csv('personas.csv', index=False)

# Mensaje de confirmación
print("DataFrame guardado exitosamente como 'personas.csv'")

DataFrame guardado exitosamente como 'personas.csv'